.slider-img{
    height: 416px !important;
    width: 270px !important;
    left: 635px !important;
    top: 236px !important;
    border-radius: 20px !important;
}
.name{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 40px;
    color: #ffffff;
    
}
.h2, h2 {
  font-size: 2rem;
  text-transform: uppercase;
}
*, ::after, ::before {
  box-sizing: border-box;
  margin-top: 16px;
}

.details{
  color: #ffffff;
  padding-right: 150px;
}
.btn-booking {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 29px;
  position: absolute;
  width: 161px;
  height: 48px;
  left: 300px;
  top: 456px;
  background: #F9A51A;
  border-radius: 5px;
  margin-top: -250px;
  
}
.carousel-caption {
  position: fixed;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  margin-bottom: 300px;
  
}

.slider-img{
  position: absolute;
  width: 270px;
  height: 416px;
  left: 635px;
  top: 236px;
}
.right-title{
  position: absolute;
  width: 146px;
  height: 43px;
  left: 656px;
  top: 572px;
  font-size: 36px;
  line-height: 43px;
}
.carousel{
  margin-top: 200px;
}
.carousel-indicators {
  bottom: 203px !important;
  margin: 0 !important;
  left: 500px !important;
  right: auto !important;
  border-radius: 10px !important;
  margin: 1px 3px !important;
  height: 10px !important;
  max-width: 10px !important;
  border: 1px solid #FFF !important;
  background-color: transparent !important;
  
}



